.timer {
  display: flex;
  justify-content: center;
}

.field {
  margin-right: 50px;
  text-align: center;
}

.value {
  display: block;
  width: 60px;
  margin: 0 auto;
  font-size: 34px;
  font-weight: 600;
  font-family: cursive;
  color: rgb(49, 44, 37);
}

[data-value="days"] {
  background-color: rgb(219, 194, 129);
}

[data-value="hours"] {
  background-color: rgb(125, 200, 200);
}

[data-value="mins"] {
  background-color: rgb(206, 137, 120);
}

[data-value="secs"] {
  background-color: rgb(113, 200, 110);
}

.label {
  font-size: 26px;
  font-family: cursive;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;
  border: 3px dashed firebrick;
  background-color: lemonchiffon;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  border-radius: 20px;
  transform: translateX(calc(-100% - 8px));
  opacity: 0;
  transition: all 0.3s linear;
}

.message.visible {
  transform: translateX(0);
  opacity: 1;
}